@model List<Models.Employees.Employee>


<div class="container mt-4">
    <h2>Employee List</h2>

    <a href="/Employee/Create" class="btn btn-primary mb-3">Add Employee</a>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Joining Date</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.Name</td>
                        <td>@emp.Email</td>
                        <td>@emp.Mobile</td>
                        <td>@emp.Department</td>
                        <td>@emp.Designation</td>
                        <td>@emp.JoiningDate.ToShortDateString()</td>
                        <td>
                            <a href="/Employee/Create/@emp.Id" class="btn btn-warning btn-sm">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>